<div class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Create new album</h4>
		</div>
	    <div class="modal-body">
			<div class="form-group">
				<input name="title" type="text" class="form-control" placeholder="Album title" autofocus>
				<span class="help-block">Enter title for your album.</span>
			</div>
			<div class="form-group">
				<input name="description" type="text" class="form-control" placeholder="Album description">
				<span class="help-block">Enter description of your album.</span>
			</div>
    	</div>
      	<div class="modal-footer">
			<button name="submit" class="btn btn-primary">Create now!</button>
		</div>
	</div>
</div>
