<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Upload new pics</h4>
        </div>
        <div class="modal-body">
			<div class="form-group">
				<input type="file" name="photos[]" multiple="multiple"/>
            </div>
        </div>
        <div class="modal-footer">
			<button name="submit" class="btn btn-primary">Upload!</button>
        </div>
	</div>
</div>
