	<div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Share Album</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <select multiple name="users" class="form-control">

                  </select>
                  <span class="help-block">Select users to share this album with.</span>
                </div>
              </div>
              <div class="modal-footer">
               <button name="submit" class="btn btn-primary">Share!</button>
              </div>
          </div>
        </div>
