<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Welcome, <strong>{{userName}}</strong></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Main Page</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <section id="main">
    <!-- Modal windows are embedded here -->
    <div id="modal-window"></div>
    <div class="container-fluid">
      <div class="row">
        <div id="nav-sidebar" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class=""><a href="#">Site management</a></li>
            <li class="sub-el active"><a href="#">Users</a></li>
          </ul>
        </div>
        <div id="main-div" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
      </div>
  </section>
  
    <!-- TEMPLATES -->
    <!-- Add user modal -->
    <script id="add-user-modal" type="text/template">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Add user</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input name="username" type="text" class="form-control" placeholder="Username">
                <span class="help-block">This name will be used to login.</span>
              </div>
              <div class="form-group">
                <select name="role" class="form-control">
                  <option>user</option>
                  <option>admin</option>
                </select>
                <span class="help-block">Select "user" for regular user and "admin" for administrator.</span>
              </div>
              <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password">
                <span class="help-block">Enter a password for login.</span>
              </div>
            </div>
            <div class="modal-footer">
             <button name="submit" type="button" class="btn btn-primary">Add User</button>
            </div>
        </div>
      </div>
    </script>
    <script id="users-template" type="text/template">
                <h1 class="page-header">Users</h1>
          <p><button id="add-user" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span> Add User</button></p>
          <div class="row placeholders">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>User name</th>
                  <th>Role</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
    </script>
    <script id="user-data-template" type="text/template">
      <td>
        <%= _id %>
      </td>
      <td>
        <span><%= name %><span class="glyphicon glyphicon-pencil"></span></span>
        <input name="user-name" class="hidden" value="<%= name %>">
      </td>
      <td>
        <span><%= role %><span class="glyphicon glyphicon-pencil"></span></span>
          <select name="user-role" class="form-control hidden">
            <option>user</option>
            <option>admin</option>
          </select>
      </td>
      <td>
        <button id="delete-user" class="btn btn-xs btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span> Delete</button>
      </td>
    </script>
    <script type="text/javascript" src="/js/libs/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="/js/libs/backbone-min.js"></script>
    <script type="text/javascript" src="/js/models/bb_models.js"></script>
    <script type="text/javascript" src="/js/collections/bb_collections.js"></script>
    <script type="text/javascript" src="/js/views/adminviews.js"></script>
    <script type="text/javascript" src="/js/routers/admin-router.js"></script>
</body>
</html>