<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">  
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Welcome, <strong>{{userName}}</strong></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if admin }}
          <li><a href="/admin">Administration</a></li>
          {{/if }}
          <li><a href="#">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- add pictures modal -->
  <div class="modal add-pictures"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/pictures/upload" method="post" enctype="multipart/form-data">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title">Upload new pics</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" name="aid" value="{{thisAlbum._id}}"/>
              <input type="file" name="upload" multiple="multiple"/>
            </div>
          </div>
          <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Upload!</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
    
  <!-- share album modal -->
  <div class="modal share-album">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/albums/share" method="post">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title">Share Album</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" name="aid" value="{{thisAlbum._id}}"/>
              <select multiple name="users" class="form-control">
                {{#each users}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <span class="help-block">Select users to share this album with.</span>
            </div>
          </div>
          <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Share!</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          {{#if ownAlbums}}
          <li><a href="/">My albums</a></li>
            {{#each ownAlbums}}
            <li class="sub-el"><a href="/albums/{{this._id}}">{{this.title}}</a></li>
            {{/each}}
          {{/if}}
          <li><a href="#">Shared with me</a></li>
          {{#if sharedAlbums}}
            {{#each sharedAlbums}}
            <li class="sub-el"><a href="/albums/{{this._id}}">{{this.title}}</a></li>
            {{/each}}
          {{/if}}
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{{thisAlbum.title}} <span class="badge">{{thisAlbum.pictures.length}} photos</span></h1>
        {{#if owner}}
          <div>
            <button id="add-pictures" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span> Pictures</button>
            <button id="share-album" class="btn btn-success" type="button"><span class="glyphicon glyphicon-share"></span> Share</button>
            <form class="btn-form" action="/albums/delete" method="post">
              <input type="hidden" name="aid" value="{{thisAlbum._id}}">
              <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </form>
          </div>
        {{/if}}
        
        {{#if thisAlbum.pictures}}
        <div class="row placeholders">
          {{#each thisAlbum.pictures}}
          <div class="col-xs-6 col-sm-3">
            <a href="{{this.path}}" data-lightbox="light-box-image">
              <img class="img-thumbnail" alt="200x200"  src="{{this.thumb_path}}"></img>
            </a>
          </div>
          {{/each}}
        </div> 
        {{else}}
        <p>Looks like you don't have any picture. Go ahead and upload some!</p>
        {{/if}}
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/libs/jquery-1.11.1.min.js"></script>
  <!-- Lightbox css -->
  <link rel="stylesheet" type="text/css" href="/css/lightbox.css">
  <!-- Lightbox js -->
  <script type="text/javascript" src="/js/libs/lightbox.min.js"></script>
  <script type="text/javascript" src="/js/libs/app.js"></script>
</body>
</html>