<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">
  <!-- Lightbox css -->
  <link rel="stylesheet" type="text/css" href="/css/lightbox.css">
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Welcome, <strong>{{userName}}</strong></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if admin }}
          <li><a href="/admin">Administration</a></li>
          {{/if }}
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <section id="main">
    <!-- Modal windows are embedded here -->
    <div id="modal-window"></div>
    <div id="alert" class="alert alert-success">Ahtung ahtung!</div>
    <div class="container-fluid">
      <div class="row">
        <!-- Side navbar elements are embedded here -->
        <div id="nav-sidebar" class="col-sm-3 col-md-2 sidebar"></div>
        <!-- Main page view is embedded here -->
        <div id="main-div" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
      </div>
    </div>
  </section>

    <script type="text/javascript" src="/js/libs/require/require.js"></script>
    <script type="text/javascript">
      require.config({
        baseUrl: '/js',
        paths: {
          jquery: 'libs/jquery-1.11.1.min',
          underscore: 'libs/underscore-min',
          backbone: 'libs/backbone-min',
          lightbox: 'libs/lightbox.min',
          text: 'libs/require/text'
        }
      });
      // App initialization
      require(['backbone', 'routers/router', 'collections/albums'], function(Backbone, AppRouter, Albums){
        Albums.reset({{{albums}}})
        
        var app_router = new AppRouter();
        app_router.userID = '{{userID}}'
        Backbone.history.start();        
      });
    </script>
</body>
</html>