<span class="glyphicon glyphicon-remove" title="delete album"></span>
<a href="#/albums/<%= _id %>">
	<img class="img-thumbnail" alt="200x200" src="<%= title_image %>"></img>
</a>
<h4>
	<% if (shared) {%>
		<span class="glyphicon glyphicon-share" title="shared"></span>
	<% } %>
	<%= title %>
	<span class="upper-text text-muted">by Martyn</span>
</h4>
<span class="text-primary"><%= pictures.length %> photos</span>
