<h1 class="page-header">
	<%= title %>
	<span class="glyphicon glyphicon-pencil"></span>
	<span class="text-primary"><%= desc %></span>
</h1>
<input id="album-title" class="hidden" value="<%= title %>" type="text">
<button id="add-pictures" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span> Pictures</button>
<button id="share-album" class="btn btn-success" type="button"><span class="glyphicon glyphicon-share"></span> Share</button>
<button id="delete-album" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span> Delete</button>       
  
<div id="pictures-list" class="row placeholders">
	<p>Too bad... You don''t have any picture. Go ahead and upload some using above button!</p>
</div>
