<h1 class="page-header">Albums</h1>
<p>
	<button id="add-album" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span> Album</button>
</p>
<div id="album-list" class="row placeholders">
	<p>Too bad... You don''t have any album. Go ahead and create one using above button!</p>
</div>
