<span class="glyphicon glyphicon-remove" title="delete picture"></span>
<span class="glyphicon glyphicon-star" title="set as album title"></span>
<a href="<%= path %>" data-lightbox="light-box-image">
	<img class="img-thumbnail" alt="200x200" src="<%= thumb_path %>"></img>
</a>
