/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/* Notifications area*/

.alert{
  width: auto;
  position: absolute;
  left: 30%;
  right: 30%;
  text-align: center;
  display: none;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}

.sub-el {
  padding-left: 20px;
}

.table > thead > tr > th {
  text-align: center;
}

.btn-form {
  display: inline-block;
}

h1 span {
  font-size: 12px;
}

.glyphicon-pencil {
  vertical-align: top;
  margin-left: 10px;
  visibility: hidden;
}

h1:hover .glyphicon-pencil{
  visibility: visible;
}

.hidden {
  display: none;
}

#album-title {
  display: block;
  padding-bottom: 0 0 9px 0;
  margin-bottom: 20px;
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

#album-title:focus {
  outline: 0;
}

div.col-xs-6.col-sm-3 {
  margin: 0 10px 20px 15px;
  padding: 0px;
  max-width: 200px;
}

div.col-xs-6.col-sm-3 > a > img{
  margin-top: 15px;
}

.img-thumbnail {
  max-width: none;
}

.glyphicon.glyphicon-remove {
  position: absolute;
  right: 0px;
  vertical-align: top;
  cursor: pointer;
  color: red;
  display: inline-block;
  visibility: hidden;
}

.glyphicon.glyphicon-star {
  position: absolute;
  vertical-align: top;
  cursor: pointer;
  color: grey;
  display: inline-block;
  visibility: hidden;
}

.glyphicon-remove:hover {
  text-shadow: 0 0 1px #000,
         0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.glyphicon-star:hover {
  text-shadow: 0 0 1px #000,
         0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: yellow;
}

div.col-xs-6.col-sm-3:hover .glyphicon-remove {
  visibility: visible;
}

div.col-xs-6.col-sm-3:hover .glyphicon-star {
  visibility: visible;
}

a img:hover {
  box-shadow: 0 0 1px #000,
         0 0 10px rgba(0, 0, 0, 0.8);
}

input[name=user-name] {
  width: inherit;
  height: inherit;
}

select[name=user-role] {
  margin: 0px;
  height: inherit;
  border: 2px inset;
  padding: 1px 0;
}

td span:hover .glyphicon-pencil{
  visibility: visible;
}

.upper-text {
  vertical-align: top;
  display: inline-block;
  font-size: 9px;
  margin-left: 5px;
}