<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	 <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="" method="post">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title">Add user</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="input-group">
              
              <input type="text" class="form-control" placeholder="Role">
            </div>
            <div class="input-group">
              
              <input type="password" class="form-control" placeholder="Password">
            </div>
          </div>
          <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Add User</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Welcome, {{userName}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {{#if admin }}
            <li><a href="/admin">Administration</a></li>
            {{/if }}
            <li><a href="#">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class=""><a href="#">Site management</a></li>
            <li class="sub-el"><a href="#">General settings</a></li>
            <li class="sub-el active"><a href="#">Users</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Users</h1>
          <p><button class="btn btn-primary" type="button" >Add User</button></p>
          <div class="row placeholders">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Role</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>martyn</td>
                  <td>admin</td>
                  <td>
                    <button class="btn btn-xs btn-default">Edit</button> 
                    <button class="btn btn-xs btn-danger">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>alla</td>
                  <td>user</td>
                  <td>
                    <button class="btn btn-xs btn-default">Edit</button> 
                    <button class="btn btn-xs btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".modal fade").fadeToggle()
    });
  </script>
</body>
</html>