<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pic Sharing App Dashboard</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	 <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Welcome, {{ username }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">All albums</a></li>
            <li class="sub-el"><a href="#">Album1</a></li>
            <li class="sub-el"><a href="#">Album2</a></li>
            <li class="sub-el"><a href="#">Album3</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Albums</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 ">
              <img class="img-thumbnail" alt="200x200" data-src="holder.js/200x200" style="width: 200px; height: 200px;" src="data:image/svg+xml;base64,PHN2…I+MjAweDIwMDwvdGV4dD48L3N2Zz4="></img>
              <h4>{{ album name }} <small>25 photos</small></h4>
              <span class="text-muted">Text about the album</span>
            </div>
            <div class="col-xs-6 col-sm-3 ">
              <img class="img-thumbnail" alt="200x200" data-src="holder.js/200x200" style="width: 200px; height: 200px;" src="data:image/svg+xml;base64,PHN2…I+MjAweDIwMDwvdGV4dD48L3N2Zz4="></img>
              <h4>{{ album name }} <small>25 photos</small></h4>
              <span class="text-muted">Text about the album</span>
            </div>
            <div class="col-xs-6 col-sm-3 ">
              <img class="img-thumbnail" alt="200x200" data-src="holder.js/200x200" style="width: 200px; height: 200px;" src="data:image/svg+xml;base64,PHN2…I+MjAweDIwMDwvdGV4dD48L3N2Zz4="></img>
              <h4>{{ album name }} <small>25 photos</small></h4>
              <span class="text-muted">Text about the album</span>
            </div>
            <div class="col-xs-6 col-sm-3 ">
              <img class="img-thumbnail" alt="200x200" data-src="holder.js/200x200" style="width: 200px; height: 200px;" src="data:image/svg+xml;base64,PHN2…I+MjAweDIwMDwvdGV4dD48L3N2Zz4="></img>
              <h4>{{ album name }} <small>25 photos</small></h4>
              <span class="text-muted">Text about the album</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>